<div class='container'>
	<h3 class='flow-text badge large'> iKasi Dictionary </h3>
	{{#words}}
	<div class='card-panel blue lighten-2 small center'>
		<h5 class='flow-text light-blue'><b> {{name}}</b></h5>
		<p> {{description}}</p>
		<a class='btn orange'> True </a>
		<a class='btn tomato'> False </a>
	</div>
	{{/words}}

</div>